{% extends 'base.html' %}
{% block content %}
<h1>snack detail</h1>

<h3>Title: {{snack_detail.title}}</h3>

<h3>Purchaser: {{snack_detail.purchaser}}</h3>

<h3>Description: {{snack_detail.description}}</h3>

    <button  onclick="window.location.href='/';">
        Back To Main Menu
    </button>

    <button onclick="window.location.href='{% url 'snack_update' snack_detail.pk %}';">
        Update Snack
    </button>
    <button onclick="window.location.href='{% url 'snack_delete' snack_detail.pk %}';">
        Delete Snack
    </button>

{% endblock content %}